{%extends "layout.html"%}

{%block title%}
    Self-driving cars
{%endblock%}

{%block main%}


<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Speed table</h2>
        <p class="lead">See all colected data about driver when he/she broke the speed limit and its place.</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Driver ID</th>
        <th scope="col">Vehicle ID</th>
        <th scope="col">GPS X</th>
        <th scope="col">GPS X</th>
        <th scope="col">Time</th>
        <th scope="col">Speed</th>
      </tr>
    </thead>
    {%for car in cars%}
    <tbody>
      <tr>
        <th scope="row">{{car[0]}}</th>
        <td>{{car[1]}}</td>
        <td>{{car[2]}}</td>
        <td>{{car[3]}}</td>
        <td>{{car[4]}}</td>
        <td>{{car[5]}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <center><button type="button" class="btn btn-warning" style=><a href="/map">Check map</a></button></center>
  <br>
  <div>
    <h2>Alertness table</h2>
    <p class="lead">See all times when driver was not paying attention to road more than 3 seconds.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Driver ID</th>
        <th scope="col">Eye state</th>
        <th scope="col">Sesion time (minutes)</th>
      </tr>
    </thead>
    {%for stat in stats%}
    <tbody>
      <tr>
        <th scope="row">{{stat[0]}}</th>
        <td>{{stat[1]}}</td>
        <td>{{stat[2]}}</td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</section>
{%endblock%}